.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 0px solid rgba(255, 255, 255, 0.2);
  }
  
  .themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 0px solid rgba(255, 255, 255, 0.2);
  }
  